<!-- This is a generic partial that display all the errors of ActiveRecord Object -->
<% if obj.errors.any? %>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>